@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

:root{
    --main-yellow: #FFFF00;
    --sub-yellow: #f8f184;
    --main-blue: #19587d;
    --sub-red: #b11313;
    --alt-black: #0d0e09;
    --duck-yellow: #EDDEBF;
    --sub-blue: #19587d;
    --main-red: #890008;
    --sub-purple: #c4c4c4;
    --main-black: #000000;
    --main-white: #ffffff;
}


body{
    background-color:var(--main-black);
    color: var(--main-white);

}

nav{
    display: flex;
    align-items: center; 
    justify-content: space-around;
    margin-inline: 2em;
    padding: 30px;

}
nav div a{
    color:var(--main-white);
    font-size: 30px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;

}
nav a:hover{
    color: var(--main-yellow);
}

header{
    background-image: url(./assets/Illustrations/Bathome1.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 800px;
}
.content{
    font-family:'Rajdhani' ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 0 auto 0;
    padding-top: 150px;

}
.content p {
    width: 40%;
  align-self: center;
}
.button a{
    color:var(--main-white);
    text-decoration: none;
    font-size: 22px;
    padding: 20px 40px;

}
.down{
    display:flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
}
body .subtitle h2{
    font-family: 'Rajdhani';
    font-weight:medium;
    font-size: 36px;
    margin-left: 10%;
}
body .subtitle p{
    font-family:'Space grotesk';
    font-weight:normal;
    font-size:18px;
    padding-bottom: 58px;
    width: 80%;
    margin-bottom: 40px;
    margin-left: 10%;
}
body .bat-pose .right{
    right: -85%;
}

body .perso{
    display: flex;
    justify-content: space-between;
}
body .scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 80px;
    top: 250px;
}
.scroll .social{
    margin-top: 20px;
}
body .perso .info{
    text-align: center;
    font-family: 'Space Grotesk';
}
body .slider-multimedia{
    display: flex;
    width: 60%;
    margin: 20px auto;
}
.slider-content{
    font-family: 'Rajdhani';
    padding: 14px; 
    background-color:var(--sub-purple);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
body button{
    position: relative;
    top: 155px;
    background: none;
    border: none;
}
.right{
   right: -85%; 
}
.yellow{
    color: var(--sub-yellow);
}
body .contact{
    padding: 10% 0;
    font-family: 'Rajdhani';
}
.contact .form{
    padding: 50px;
    padding-left: 30%;
}
.contact h2{
    font-family: 'Rajdhani';
    font-size: 32px;
    margin-bottom: 32px;
    margin-left: 95px;

}
.contact .titre{
    display: block;

}
.contact .form input{
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    width: 80%;
}
::placeholder{
    color: var(--sub-purple);
}







